.dropdown {
    cursor:pointer;
  }
  
.dropdown-header{
    border: 1px solid #ccc;
    padding: 3px;
  }
  
.dropdown-placeholder {
    font-size: 1.5rem;
  }

.dropdown-icon {
    top: -15px;
  }
  
  .dropdown-list-section {
    border: 1px solid #ccc;
      transition: 1s all ease;
      border-top: none;
  }
  .games-list-holder {
      list-style: none;
      max-height: 300px;
      overflow-y: scroll;
      width: 100%;
      margin-bottom: 0;
    }
  
    .games-list-holder li {
      border-top: 1px solid #ccc;
      padding: 10px;
      vertical-align: bottom;
    }
  
    .games-list-holder :nth-child(1) {
      border: none;
      vertical-align: bottom;
    }
  
    .full-width {
      width: 100%;
    }
  
    .select-all{
      padding: 10px;
    }
  
    .filter-box {
      padding: 10px;
      position: relative;
      border: none;
      border-top: 1px solid #ccc;
      border-bottom: 1px solid #ccc;
    }
  
    .remove-filtertext-icon {
      top: 14px;
      right: 10px;
    }
  
    input {
      cursor: pointer;
      margin: 0;
    }
  
    .chip-holder {
      list-style: none;
      margin: 0;
      width: 100%;
    }
    .chip-holder li {
      float: left;
      margin-right: 5px;
      background: #0f5750;
      color: white;
      padding: 5px;
      border-radius: 2px;
      margin: 3px;
    }
    .more-items {
      display: inline-block;
      font-size: 1rem;
      font-weight: bold;
      padding-top: 8px;
    }
    .remove-icon {
      padding-left: 5px;
    }
    .clearfix {
      clear: both;
    }
    .display-value {
      padding-left: 10px;
      vertical-align: top;
    }
    .checkbox-right-content {
      vertical-align: top;
      padding-left: 10px;
    }

    input[type=çheckbox] {
      vertical-align: bottom;
    }
  
  