<div class="container encloser">
  <!-- Drop Down section covering 50% screen on desktop and 100% on mobile -->
  <div class="col-md-6 col-sm-12 drop-down-holder">
    <h3>Pick A Game Below</h3>
    <app-custom-drop-down [items]="gameList" [selectedItems]="selectedGamesList"
      [dropDownConfiguration]="dropdownSettings" (onSeletionChange)="seletionChanged($event)">
    </app-custom-drop-down>
  </div>
  <!-- Section To Display The List Of Selected Games -->
  <div class="game-list col-md-6 col-sm-12">
    <app-selected-games [games]="selectedGamesList"></app-selected-games>
  </div>
</div>